<a href="/addLecturer">Add lecturer</a>
<br> 
<a href="/">Home page</a> 
<br>
<ul>
    <li name="modId">Lecturer ID must be 4 characters</li>
    <li name="modName"> Name must be at least 5 characters</li>
    <li name="modCredits">Dept must be 3 characters</li>
  </ul>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Dept</th>
    </tr>
    <% lecturers.forEach((lecturer)=>
        { %>
        <tr>
            <td>
                <%= lecturer._id %>
            </td>
            <td>
                <%= lecturer.name %>
            </td>
            <td>
                <%= lecturer.dept %>
            </td>
        </tr>
        <% }) %>
</table>